
.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: auto;
    height: 100%
}

.visibleGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
} 


input {
    width: auto;
    height: 1rem;
}

input:hover {
    background-color: rgba(255, 166, 0, 0.13);
    color: #232528;
}

.form-group {
    padding: 5px;
    width: auto;
}

.fixed {
    height: 5 rem;
}
