body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./EAF6FF.background.jpg')
}

code {
  font-family: 'Playfair Display', serif;
}

.appStyle {
  display: flex;
  justify-content: center;
  padding-top: 2%;
}

img {
  max-width:60%;
  height:auto;
}